@page "/"

<MudText Typo="Typo.h3">Minecraft Tools (Beta)</MudText>
<MudText Class="mb-8">This app is a work-in-progress. More tools will be coming soon!</MudText>

<MudAlert Severity="Severity.Normal">
    <p>If you experience any issues, please contact me!</p>
    <br/>
    <p>Discord: mullak99#1999</p>
    <p>Email: <MudLink Href="mailto:mullak99@mullak99.co.uk" Typo="Typo.body2" Color="Color.Inherit"><b>mullak99@mullak99.co.uk</b></MudLink></p>
</MudAlert>

