{
	"ConnectionStrings": {
		"MongoDb": "mongodb://localhost:27017"
	},
	"Logging": {
		"LogLevel": {
			"Default": "Information",
			"Microsoft.AspNetCore": "Warning",
			"System.Net.Http.HttpClient.Default.ClientHandler": "Warning"
		}
	},
	"LogToFileLevel": "Warning",
	"Auth0": {
		"Authority": "<Auth0 Authority>",
		"Audience": "mctools-api",
		"ClientId": "<ClientId>",
		"ClientSecret": "<ClientSecret>"
	},
	"Tokens": {
		"GitHub": "<GitHubToken>"
	},
	"Common": {
		"Name": "MCTools API",
		"Email": "<Email>",
		"UserAgent": "mctools-api"
	},
	"Settings": {
		"ScheduleTime": "00:00:00Z",
		"TelemetryIgnoreDev": true
	},
	"AllowedHosts": "*",
	"IpRateLimiting": {
		"EnableEndpointRateLimiting": true,
		"StackBlockedRequests": true,
		"RealIpHeader": "X-Real-IP",
		"ClientIdHeader": "X-ClientId",
		"HttpStatusCode": 429,
		"QuotaExceededResponse": {
			"ContentType": "application/json",
			"Content": "{\"message\":\"Too many requests.\"}"
		},
		"GeneralRules": [
			{
				"Endpoint": "*",
				"Period": "1m",
				"Limit": 50
			}
		]
	},
	"IpRateLimitPolicies": {
		"IpRules": [
			{
				"Ip": "192.168.0.0/24",
				"Rules": [
					{
						"Endpoint": "*",
						"Period": "1m",
						"Limit": 50
					}
				]
			}
		]
	}
}
