.item-tab-panel {
	width: 250px;
}

.item-tab-root-list {
	width: 100%;
	margin: 0;
	padding: 0;
}

.item-tab-panel-item {
	position: relative;
	min-height: 145px;
	max-height: 260px;
	width: 100%;
	overflow-y: scroll;
	padding: 0 0 0 0;
}

.item-table-toolbar {
	bottom: 0;
	width: 100%;
	border-top: 1px solid var(--mud-palette-lines-default);
	margin: 0;
	padding: 0;
}

.blacklist-button {
	width: 280px;
	height: 36px;
}

.action-button {
	width: 150px;
}

.settings-version {
	position: absolute;
	bottom: 6px;
	left: 2px;
}

.toolbar-version {
	border-right: 1px solid var(--mud-palette-lines-default);
	margin: 0 2.5rem 0 0;
	padding: 0 2.5rem 0 0;
}